*{
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header-container{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    padding:10px 10px;
    
    
}
.insta{
    font-family: sans-serif;
}

